
#section-workexp {
    background-color: rgb(58, 63, 67);
}

.work-exp {
    color: white;
    height: 100vh;
}

.work-exp h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 4vw;
	margin: 2vw;
    font-weight: bold;
    text-transform: uppercase;
}

.work-exp h1 .title-keyword {
    color: rgba(255, 151, 55, 0.5);
    font-weight: bold;
    font-size: 11vw;
	margin: 2vw;
	margin-top: -5vw;
    z-index: -1;
}

.work-exp #job-and-edu-list {
    margin-left: 10vw;
}
